@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
  padding: 40px;
  font-family: "Roboto","Open Sans Condensed", sans-serif;
  font-size: 18px;
}

h3 {
  text-align: center;
  color: white;
  font-size: 200%;
  -webkit-text-stroke: 1px black;
}

form input {
  border: 1px solid;
  border-bottom-color: rgba(255,255,255,.5);
  border-right-color: rgba(60,60,60,.35);
  border-top-color: rgba(60,60,60,.35);
  border-left-color: rgba(80,80,80,.45);
  background-color: rgba(0,0,0,.2);
  background-repeat: no-repeat;
  padding: 8px 24px 8px 30px;
  font: bold .875em/1.25em "inherit","Open Sans Condensed", sans-serif;
  letter-spacing: .075em;
  color: #000;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-bottom: 19px;
  margin-right: 20px;
}

.buttonTo{
  width: 10px;
  color: black;
  padding-left: 80%;
}

th,td {
  font-size: 16px;
}

table, th, td{
  border: 1px solid #000;
}

table {
  width:70%;
}

table.tb {
  margin-left: auto;
  margin-right: auto;
}

td {
  height:40px;
}
