h3 {
	text-align:center;
}

body {
	background-color:#c1c8ec;
}

th,td {
	font-size:16px;
}

table, th, td{
  	border:1px solid #000;
}

table {
	width:70%;
}

table.tb {
 	 margin-left:auto;
	 margin-right:auto;
}

td {
	height:40px;
}

p {
	font-size:15px;
	font-family:Times New Roman;
}

.err {
	color:red;
	display:inline;
}
