h1 {
  color : white;
  text-align : center;
  -webkit-text-stroke : 1px black;
}
body {
  background-repeat : no-repeat;
  background-size : 1520px 920px;
}
.link {
  font-size : 20px;
}
a:link {
  color: white;
}
a:visited {
  color: red;
}
